<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="imgthumbnail my-3" style="border: 1px solid lightgrey;">
          <img class="brand-logo" [src]="BrandData?.brandLogo" />
        </div>
      </div>
      <div class="col-md-9">

        <div class="row">
          <div class="col-md-12">
            <h3 class="pull-left">
              {{BrandData?.companyName}}
            </h3>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                Brand Name: <br />
              {{BrandData?.name}}
              </div>
            </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                GST No.: <br />
                {{BrandData?.gstNumber}}
              </div>
            </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                Establisment Year: <br />
                {{BrandData?.establishmentYear}}
              </div>
            </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                Investment Required : <br />
                {{BrandData?.investmentRequired}}
              </div>
            </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                Space Required: <br />
                {{BrandData?.spaceRequired}}
              </div>
            </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card">
              <div class="card-body text-center data-height">
                No. of Employees:
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row my-4">
  <div class="col-md-12">
    <ul class="nav justify-content-center categories-menu" style="border: 1px solid lightgrey;border-radius: 20px;">
      <li class="nav-item">
        <a (click)="scroll(CompanyProfile)" class="nav-link">Company Profile</a>
      </li>
      <li class="nav-item">
        <a (click)="scroll(ProductRange)" class="nav-link">Our Product Range</a>
      </li>
      <li class="nav-item">
        <a (click)="scroll(InvestmentRequired)" class="nav-link">Investment Required</a>
      </li>
      <li class="nav-item">
        <a (click)="scroll(ContactUs)" class="nav-link">Contact Us</a>
      </li>
    </ul>
  </div>
</div>



<div class="pull-left mb-5 w-100">
  <div class="row">
    <div id="LatestDistributorsLeads" class='col-12'>
      <ngb-carousel>
        <ng-template *ngFor="let images of imagesArr" ngbSlide>
          <div class="row">
            <div class="col-lg-3 col-sm-6" *ngFor="let image of images">
              <div class="item-box-blog">
                <div class="item-box-blog-body">
                  <div class="imageThumbnial">
                    <img class="cate-slider-img" [src]="image" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<div class="pull-left mb-4 w-100">
  <div class="card">
    <div class="card-header" #CompanyProfile>
      Company Profile
    </div>
    <div class="card-body" [innerHTML]="BrandData?.description">
    </div>
  </div>

  <div class="pull-left mt-4 w-100">
    <div class="card">
      <div class="card-header" #ProductRange>
        Our Product Range
      </div>
      <div class="card-body">
        {{BrandData?.productsKeywords}}
      </div>
    </div>
  </div>

  <div class="pull-left mt-4 w-100">
    <div class="card">
      <div class="card-header" #InvestmentRequired>
        Investment Required
      </div>
      <div class="card-body">
        <b>The offer to target customers</b>
        <p [innerHTML]="BrandData?.investmentRequired">

        </p>

      </div>
    </div>
  </div>

  <div class="pull-left mt-4 w-100">
    <div class="card">
      <div class="card-header" #DistributorsBenefits>
        Distributors Benefits
      </div>
      <div class="card-body" [innerHTML]="BrandData?.distributorsBenefits">

      </div>
    </div>
  </div>

  <div class="pull-left mt-4 w-100">
    <div class="card">
      <div class="card-header">
        Products USP’s
      </div>
      <div class="card-body">
        <b>Company USPs:</b>
        <div [innerHTML]="BrandData?.usp">

        </div>
      </div>
    </div>
  </div>

  <div class="pull-left mt-4 w-100" id="ContactDetails" #ContactUs>
    <div class="card">
      <div class="card-header">
        Contact Details
      </div>
      <div class="card-body">
        <table border="1" cellpadding="3px" class="w-100" style="border-collapse: collapse;border-color: lightgray;">
          <tr>
            <td><b>Name</b></td>
            <td>{{BrandData?.brandOwner}}</td>
          </tr>
          <tr>
            <td><b>Company Name</b></td>
            <td>{{BrandData?.name}}</td>
          </tr>
          <tr>
            <td><b>Address</b></td>
            <td>{{BrandData?.brandPrimaryAddress}}</td>
          </tr>
          <tr>
            <td><b>Mobile</b></td>
            <td>{{BrandData?.brandOwnerContactNumber}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="pull-left mb-5 w-100">
  <div class="row">
    <div class="col-md-6 mb-2">
      <button class="btn btn-primary mr-1 w-100">Contact Us</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-primary mr-1 w-100" (click)="openDialog('postrequirements')">Send Enquiry</button>
    </div>
  </div>
</div>
