<div class="pull-left searchArea">    
    
    <app-catagory-onload [catagoriesOnLoad]="catagoriesOnLoad"></app-catagory-onload>    

    <app-categories [catagories]="catagories"></app-categories>

    <app-carousel [distributorLeads]= "distributorLeads"></app-carousel>
    <br/><br/>

    <app-premium-brands></app-premium-brands>
    <br/><br/>

    <div class="ask-expert mb-5">
        <app-ask-experts></app-ask-experts>
    </div>

    <app-reviewslider></app-reviewslider>    
    <br/><br/>
    
    <div class="bottom-space"></div>    
</div>