<form class="form-horizontal" [formGroup]="becomeDistributorForm" (ngSubmit)="becomeDistributorSubmit()">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Become Distributor
        </div>
        <div class="card-body">
            <!-- <div class="form-group row">
                <label class="control-label col-sm-2" for="brandName">Brand Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="brandName" formControlName="brandName"
                        placeholder="Enter brand name" name="brandName" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.brandName}">
                    <span class="invalid-feedback" *ngIf="formErrors.brandName">
                        {{formErrors.brandName}}
                    </span>
                </div>
            </div> -->
            <div class="form-group row">
                <label class="control-label col-sm-2" for="categories">Business Categories:</label>
                <div class="col-sm-10">
                    <!-- <ng-multiselect-dropdown formControlName="categories"
                        [placeholder]="'Select one or more categories'" [settings]="categoriesSettings"
                        [data]="categories" [ngClass]="{'is-invalid': formErrors.categories}" (onDropDownClose)="logValidationErrors()" >
                    </ng-multiselect-dropdown>
                    <span class="invalid-feedback" style="display: block;">
                        {{formErrors.categories}}
                    </span> -->
                    <select class="form-control" id="categories" formControlName="categories"
                        [ngClass]="{'is-invalid': formErrors.categories}" (blur)="logValidationErrors()">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let category of categories" value={{category.id}}>
                            {{category.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="businessNatures">Business Nature:</label>
                <div class="col-sm-10">
                    <ng-multiselect-dropdown formControlName="businessNatures" [placeholder]="'Business Nature'"
                        [settings]="businessNatureMultiSelectSettings" [data]="businessNatures">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="investmentRequired">Investment Budget:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="investmentRequired" formControlName="investmentRequired"
                        placeholder="Enter investment budget" name="investmentRequired" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.investmentRequired}">
                    <span class="invalid-feedback" *ngIf="formErrors.investmentRequired">
                        {{formErrors.investmentRequired}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="spaceRequired">Space Available (Sq Ft):</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="spaceRequired" formControlName="spaceRequired"
                        placeholder="Enter space available (Sq Ft)" name="spaceRequired" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.spaceRequired}">
                    <span class="invalid-feedback" *ngIf="formErrors.spaceRequired">
                        {{formErrors.spaceRequired}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="categories">Products for Distributorship:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="products" formControlName="products"
                        placeholder="Enter products' names (, seperated)" name="products"
                        (blur)="logValidationErrors()">
                    <!-- <span class="invalid-feedback" *ngIf="formErrors.products">
                        {{formErrors.products}}
                    </span> -->
                    <!-- <ng-multiselect-dropdown formControlName="products"
                                        [placeholder]="'Select one or more products'" [settings]="productsSettings"
                                        [data]="products">
                                    </ng-multiselect-dropdown> -->
                </div>
            </div>
            <div class="form-group  row">
                <label class="control-label col-sm-2" for="pan">PAN:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pan" formControlName="pan" placeholder="Enter PAN"
                        name="pan" (blur)="logValidationErrors()" [ngClass]="{'is-invalid': formErrors.pan}">
                    <span class="invalid-feedback" *ngIf="formErrors.pan">
                        {{formErrors.pan}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="gstNumber">GST:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="gstNumber" formControlName="gstNumber"
                        placeholder="Enter GST number" name="gstNumber" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.gstNumber}">
                    <span class="invalid-feedback" *ngIf="formErrors.gstNumber">
                        {{formErrors.gstNumber}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="experiance">Experiance:</label>
                <div class="col-sm-10">
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" value="1" formControlName="experianceType"
                                class="form-check-input">Fresher
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" value="2" formControlName="experianceType"
                                class="form-check-input">Experianced
                        </label>
                    </div>
                    <span class="invalid-feedback" *ngIf="formErrors.experianceType">
                        {{formErrors.experianceType}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-2" for="distributorshipType">Distributorship Type:</label>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="countrywise" value="1" formControlName="countrywise"
                            name="countrywise" (change)='onCountryChecked($event)'>
                        Country-wise
                    </label>
                </div>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="regionwise" value="2" formControlName="regionwise" name="regionwise"
                            (change)='onRegionChecked($event)'>
                        Region-wise
                    </label>
                </div>
                <div class="col-sm-3">
                    <ng-multiselect-dropdown formControlName="regions" [placeholder]="'Regions'"
                        [settings]="locationMultiSelectSettings" [data]="regions" [(ngModel)]="selectedRegions">
                    </ng-multiselect-dropdown>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="statewise" value="3" formControlName="statewise" name="statewise"
                            (change)='onStateChecked($event)'>
                        State-wise
                    </label>
                </div>
                <div class="col-sm-3">
                    <ng-multiselect-dropdown formControlName="states" [placeholder]="'States'"
                        [settings]="locationMultiSelectSettings" [data]="states" [(ngModel)]="selectedStates">
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="citywise" value="4" formControlName="citywise" name="citywise"
                            (change)='onCityChecked($event)'>
                        City-wise
                    </label>
                </div>
                <div class="col-sm-3">
                    <ng-multiselect-dropdown formControlName="cities" [placeholder]="'Cities'"
                        [settings]="locationMultiSelectSettings" [data]="cities" [(ngModel)]="selectedCities">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12">
                    <textarea class="form-control" id="description" rows="3" formControlName="description"
                        placeholder="Comments" name="description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button mat-button matStepperPrevious class="btn btn-primary"
                        style="margin-right: 20px;">Previous</button>
                    <input type="submit" class="btn btn-primary" [disabled]="becomeDistributorForm.invalid"
                        value="Submit" style="margin-right: 20px;">
                    <!-- <input type="button" class="btn btn-secondary pl-2" (mousedown)="cancelRequest()" value="Cancel"> -->
                </div>
            </div>
        </div>
    </div>

</form>

<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait...</p>
</ngx-spinner> -->